@import "tailwindcss";

@theme {
  --color-main-500: #0068ff;
  --color-secondary-500: #1b222a;
  --color-secondary-text-500: #525560;
  --color-bg-blue-100: #f9fafb;
  --color-soft-dark-500: #0e1115;
  --color-primary-text: #1d2130;
}
/* Additional Tiptap placeholder styling */
.tiptap p.is-editor-empty::before {
  @apply text-gray-400 content-[attr(data-placeholder)] float-left pointer-events-none h-0;
}
