@import "tailwindcss";

@theme {
  --color-main-500: #0068ff;
  --color-secondary-500: #1b222a;
  --color-secondary-text-500: #525560;
  --color-bg-blue-100: #f9fafb;
  --color-soft-dark-500: #0e1115;
  --color-primary-text: #1d2130;
}
@import "@fontsource/inter/300.css";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/inter/800.css";


body {
  font-family: "Inter", sans-serif;
}
/* Additional Tiptap placeholder styling */
.tiptap p.is-editor-empty::before {
  @apply text-gray-400 content-[attr(data-placeholder)] float-left pointer-events-none h-0;
}

.text-stroke-white {
  -webkit-text-stroke: 4px white;
}
.text-stroke-white-2 {
  -webkit-text-stroke: 8px white;
}
/* Vibrate animation */
@keyframes vibing {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-4px);
  }
  40% {
    transform: translateX(4px);
  }
  60% {
    transform: translateX(-4px);
  }
  80% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}

.hover\:vibrate:hover {
  animation: vibing 0.4s ease-in-out;
}
